*CVS/
.git/*

*~
*.swp
*.orig
bin/
classes/
build/build/
build/ext/

# ignore all log files ?
logs/*.log
log/*.log


# SNS, KEK Products: Ignore output of headless build
# syntax: glob
products/SNS/product/org.csstudio.sns.updatesite/build/*
products/SNS/product/org.csstudio.sns.updatesite/apps/*
products/SNS/product/org.csstudio.sns.updatesite/config_build_*/build.log
products/KEK/plugins/org.csstudio.kek.build/build/*
products/KEK/plugins/org.csstudio.kek.build/apps/*
products/KEK/plugins/org.csstudio.kek.build/*/build.log

# ignore the .settings folder
# should it be changed to all */.settings/* ?

# Ignore generated jython classes
*$py.class

# Ignore Maven/Tycho target files
applications/plugins/com.google.common/target/
applications/plugins/com.google.inject.guice.v3/target/
applications/plugins/com.google.inject/target/
applications/plugins/com.google.protobuf/target/
applications/plugins/com.mysql.jdbc/target/
applications/plugins/commons-beanutils.v1.8.0/target/
applications/plugins/javax.annotation/target/
applications/plugins/javax.mail/target/
applications/plugins/net.miginfocom.layout/target/
applications/plugins/org.apache.commons.lang/target/
applications/plugins/org.apache.log4j/target/
applications/plugins/org.apache.tools.ant.junit/target/
applications/plugins/org.apache.tools.ant/target/
applications/plugins/org.csstudio.alarm.service/target/
applications/plugins/org.csstudio.apputil.ui/target/
applications/plugins/org.csstudio.apputil/target/
applications/plugins/org.csstudio.config.savevalue.service/target/
applications/plugins/org.csstudio.dct.intro/target/
applications/plugins/org.csstudio.dct.treemodelexporter/target/
applications/plugins/org.csstudio.dct.ui/target/
applications/plugins/org.csstudio.dct/target/
applications/plugins/org.csstudio.desy.logging.ui/target/
applications/plugins/org.csstudio.domain.common/target/
applications/plugins/org.csstudio.domain.desy.epics/target/
applications/plugins/org.csstudio.domain.desy.softioc/target/
applications/plugins/org.csstudio.domain.desy.ui/target/
applications/plugins/org.csstudio.domain.desy/target/
applications/plugins/org.csstudio.email/target/
applications/plugins/org.csstudio.logbook/target/
applications/plugins/org.csstudio.persister/target/
applications/plugins/org.csstudio.sds.components.epics/target/
applications/plugins/org.csstudio.sds.components.ui/target/
applications/plugins/org.csstudio.sds.components/target/
applications/plugins/org.csstudio.sds.importer.ui/target/
applications/plugins/org.csstudio.sds.importer/target/
applications/plugins/org.csstudio.sds.intro/target/
applications/plugins/org.csstudio.sds.language.script.ui/target/
applications/plugins/org.csstudio.sds.language.script/target/
applications/plugins/org.csstudio.sds.samples/target/
applications/plugins/org.csstudio.sds.service.pvvalidation.mkk/target/
applications/plugins/org.csstudio.sds.settings.desy/target/
applications/plugins/org.csstudio.sds.ui/target/
applications/plugins/org.csstudio.sds/target/
applications/plugins/org.csstudio.servicelocator/target/
applications/plugins/org.csstudio.swt.xygraph/target/
applications/plugins/org.csstudio.ui.menu.app/target/
applications/plugins/org.csstudio.utility.adlConverter/target/
applications/plugins/org.csstudio.utility.displaybrowser/target/
applications/plugins/org.csstudio.utility.epicsDataBaseCompare/target/
applications/plugins/org.csstudio.utility.httpd/target/
applications/plugins/org.csstudio.utility.jms/target/
applications/plugins/org.csstudio.utility.ldap.service.impl/target/
applications/plugins/org.csstudio.utility.ldap.service/target/
applications/plugins/org.csstudio.utility.ldap.treeconfiguration/target/
applications/plugins/org.csstudio.utility.ldap.ui/target/
applications/plugins/org.csstudio.utility.namespace.utility/target/
applications/plugins/org.csstudio.utility.product/target/
applications/plugins/org.csstudio.utility.pv.ui/target/
applications/plugins/org.csstudio.utility.quickstart/target/
applications/plugins/org.csstudio.utility.screenshot/target/
applications/plugins/org.csstudio.utility.treemodel/target/
applications/plugins/org.custommonkey.xmlunit/target/
applications/plugins/org.ehcache/target/
applications/plugins/org.hamcrest/target/
applications/plugins/org.hibernate.v4.1.3.Final/target/
applications/plugins/org.hibernate.validator.v4.3.Final/target/
applications/plugins/org.jdom/target/
applications/plugins/org.joda.time/target/
applications/plugins/org.mockito/target/
applications/plugins/org.slf4j-log4j12/target/
applications/plugins/org.slf4j.bridge/target/
applications/plugins/org.slf4j/target/
core/plugins/org.antlr.runtime/target/
core/plugins/org.csstudio.auth.ui/target/
core/plugins/org.csstudio.auth/target/
core/plugins/org.csstudio.csdata/target/
core/plugins/org.csstudio.dal.epics/target/
core/plugins/org.csstudio.dal.ui/target/
core/plugins/org.csstudio.dal/target/
core/plugins/org.csstudio.data/target/
core/plugins/org.csstudio.java/target/
core/plugins/org.csstudio.logging.ui/target/
core/plugins/org.csstudio.logging/target/
core/plugins/org.csstudio.openfile/target/
core/plugins/org.csstudio.platform.jaasAuthentication.ui/target/
core/plugins/org.csstudio.platform.jaasAuthentication/target/
core/plugins/org.csstudio.platform.ldapAuthorization.ui/target/
core/plugins/org.csstudio.platform.ldapAuthorization/target/
core/plugins/org.csstudio.platform.libs.easymock/target/
core/plugins/org.csstudio.platform.libs.epics.ui/target/
core/plugins/org.csstudio.platform.libs.epics.win32/target/
core/plugins/org.csstudio.platform.libs.epics/target/
core/plugins/org.csstudio.platform.libs.hibernate/target/
core/plugins/org.csstudio.platform.libs.jdbc/target/
core/plugins/org.csstudio.platform.libs.jmock/target/
core/plugins/org.csstudio.platform.libs.jms/target/
core/plugins/org.csstudio.platform.simpledal/target/
core/plugins/org.csstudio.platform.utility.jms.ui/target/
core/plugins/org.csstudio.platform.utility.jms/target/
core/plugins/org.csstudio.platform.utility.rdb/target/
core/plugins/org.csstudio.remote/target/
core/plugins/org.csstudio.startup/target/
core/plugins/org.csstudio.ui.menu/target/
core/plugins/org.csstudio.ui.preferences/target/
core/plugins/org.csstudio.ui.util/target/
core/plugins/org.csstudio.utility.pv.epics/target/
core/plugins/org.csstudio.utility.pv/target/
core/plugins/org.csstudio.utility.pvmanager/target/
core/plugins/org.csstudio.workspace/target/
core/plugins/org.epics.util/target/
products/DESY/features/org.csstudio.desy.dct.feature/target/
products/DESY/features/org.csstudio.desy.library.feature/target/
products/DESY/features/org.csstudio.desy.platform.base.feature/target/
products/DESY/features/org.csstudio.desy.platform.eclipse.feature/target/
products/DESY/features/org.csstudio.desy.platform.eclipse.team.feature/target/
products/DESY/features/org.csstudio.desy.platform.user.feature/target/
products/DESY/features/org.csstudio.desy.sds.feature/target/
products/DESY/plugins/de.desy.language.editor.core/target/
products/DESY/plugins/de.desy.language.editor.details/target/
products/DESY/plugins/de.desy.language.editor.ui/target/
products/DESY/plugins/de.desy.language.libraries/target/
products/DESY/plugins/org.csstudio.desy.css.product.log4j/target/
products/DESY/plugins/org.csstudio.desy.product/target/
products/DESY/plugins/org.csstudio.desy.startuphelper/target/
