

*CVS/
.git/*

*~
*.swp
*.orig
bin/
classes/
build/build/
build/ext/

# ignore all log files ?
logs/*.log
log/*.log

applications/plugins/org.csstudio.domain.common/.settings/com.chronon.sb.browser.launcher.prefs
applications/plugins/org.csstudio.dct.nameresolution.file/.settings/com.chronon.sb.browser.launcher.prefs
applications/plugins/org.csstudio.dct/.settings/com.chronon.sb.browser.launcher.prefs
applications/plugins/org.csstudio.servicelocator/.settings/com.chronon.sb.browser.launcher.prefs
applications/plugins/org.csstudio.utility.jms/.settings/com.chronon.sb.browser.launcher.prefs
core/plugins/org.csstudio.auth/.settings/com.chronon.sb.browser.launcher.prefs
core/plugins/org.csstudio.dal/.settings/com.chronon.sb.browser.launcher.prefs
core/plugins/org.csstudio.platform.libs.hibernate/.settings/com.chronon.sb.browser.launcher.prefs

core/plugins/org.csstudio.platform.libs.jdbc/.settings/
core/plugins/org.csstudio.platform.libs.jmock/.settings/
core/plugins/org.csstudio.platform.libs.jms/.settings/
core/plugins/org.csstudio.remote/.settings/com.chronon.sb.browser.launcher.prefs
core/plugins/org.csstudio.workspace/.settings/

applications/**/*/com.chronon.sb.browser.launcher.prefs
products/**/*/com.chronon.sb.browser.launcher.prefs
core/**/*/com.chronon.sb.browser.launcher.prefs

applications/plugins/org.csstudio.config.ioconfig.model/.settings/com.chronon.sb.browser.launcher.prefs

applications/plugins/org.csstudio.config.ioconfig.model/.settings/org.eclipse.core.resources.prefs

# SNS, KEK Products: Ignore output of headless build
# syntax: glob
products/SNS/product/org.csstudio.sns.updatesite/build/*
products/SNS/product/org.csstudio.sns.updatesite/apps/*
products/SNS/product/org.csstudio.sns.updatesite/config_build_*/build.log
products/KEK/plugins/org.csstudio.kek.build/build/*
products/KEK/plugins/org.csstudio.kek.build/apps/*
products/KEK/plugins/org.csstudio.kek.build/*/build.log

# ignore the .settings folder
# should it be changed to all */.settings/* ?

# Ignore generated jython classes
*$py.class
