<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CAGatewayApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.cagateway.CaGateway">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.cagateway.management.StopCmd"
            id="org.csstudio.cagateway.management.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.cagateway.management.InfoCmd"
            id="org.csstudio.cagateway.management.InfoCmd"
            label="Info">
      </command>
   </extension>
   <extension
         id="DoocsCaGatewayProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.cagateway.CAGatewayApplication"
            name="DoocsCaGateway">
         <property
               name="appName"
               value="DoocsCaGateway">
         </property>
      </product>
   </extension>
</plugin>
