<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.application.command.server.CommandServerApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.application.command.server.management.StopCmd"
            id="org.csstudio.application.command.server.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.application.command.server.management.InfoCmd"
            id="org.csstudio.application.command.server.Info"
            label="Info">
      </command>
      <command
            class="org.csstudio.application.command.server.management.CommandsCmd"
            id="org.csstudio.application.command.server.Command"
            label="Commands">
      </command>
   </extension>

</plugin>
